body {
    font-family: Arial, Helvetica, sans-serifzs;
    background: color(srgb rgb(FFFFFF));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #00304E ;
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px #FFDB58;
    width: 420px;
    height: 700px;
    text-align: center;
}

.LogoMak-PC {
    position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 50%;
}

.login-container h1 {
    color: #ffffff;
    margin-bottom: 250px;
    font-weight: 500; 
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: FFFFFF;
    color: #000000;
    font-size: 15px;
    
}

.visually-hidden{
    color: #ffffff;
    float: left;
    font-weight: 700;
}

.login-form input::placeholder {
    color: #020202;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #0655af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

.login-form button:hover {
    background-color: #358bbd;
}

.error {
    color: #ff6961;
    margin-top: 10px;
    font-size: 14px;
}

.bi {
    color: #9b9797;
    font-size: 25px;
    position: absolute;
    display: block;
    right: 30px;
    top: 63%;
    transform: translateY(-100%);
    cursor: pointer;
    font-size: 23px;
}