/* ---------------------------- */
/*        FONDO DIFUMINADO      */
/* ---------------------------- */

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #00304E, #00304ecb);
    backdrop-filter: blur(12px);
}

/* ---------------------------- */
/*        CONTENEDOR CARD       */
/* ---------------------------- */

.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-card {
    background: #ffffff;
    width: 380px;
    padding: 40px 35px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

/* ---------------------------- */
/*            LOGO              */
/* ---------------------------- */

.logo img {
    width: 150px;
    margin: 0 auto;
}

/* ---------------------------- */
/*           TÍTULOS            */
/* ---------------------------- */

.register-header h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

.register-header p {
    color: #666;
    margin-top: -5px;
    font-size: .95rem;
}

/* ---------------------------- */
/*         CAMPOS INPUT         */
/* ---------------------------- */

.field {
    text-align: left;
}

label {
    font-size: .9rem;
    font-weight: 600;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: .95rem;
    outline: none;
    transition: .2s;
}

input:focus {
    border-color: #00304e71;
}

/* Icono del ojo */
.password-wrapper {
    position: relative;
}

.toggle-pass {
    position: absolute;
    right: 12px;
    top: 38px;
    font-size: 1.2rem;
    color: #777;
    cursor: pointer;
}

/* ---------------------------- */
/*        BOTÓN REGISTRO        */
/* ---------------------------- */

.btn-submit {
    background: #00304E;
    color: #fff;
    padding: 13px;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    margin-top: 10px;
}

.btn-submit:hover {
    background: #005082;
}

/* ---------------------------- */
/*     TEXTO FINAL LOGIN        */
/* ---------------------------- */

.login-text {
    font-size: .9rem;
    margin-top: 5px;
    color: #555;
}

.login-text a {
    color: #00304E;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}