body {
    background-color: white;
    /* Fuente por defecto, mejor si se especifica en el body */
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    padding: 0;

    border-bottom: 1px solid #ddd;
}

.contenedor-principal {
    max-width: 1400px;
    margin: 0 auto;
}

.navegacion-principal {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    gap: 20px;
    border-radius: 25px;

}


.logo {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #00304E;
    font-weight: 800;
    flex-shrink: 0;
    /
}


.logo h1 {
    font-size: 1em;
    margin-left: 10px;
}

.btn-categorias {

    display: flex;
    align-items: center;

    gap: 8px;
    background-color: #e60023;

    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    flex-shrink: 0;
    height: 40px;

}


.icono-categoria {
    font-size: 1.2rem;
}


.formulario-busqueda {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 80px;
    max-width: 800px;
    overflow: hidden;

    justify-content: flex-start;
}

.entrada-busqueda {
    flex-grow: 1;
    border: none;
    padding: 0 15px;
    font-size: 1rem;

}


.btn-busqueda {
    background-color: #f0f0f0;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #555;
    height: 100%;
}