
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;
}

.contenedor-principal {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}


.navegacion-principal {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 35px;

    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo-text {
    font-size: 28px;
    font-weight: 900;
    color: #00304E;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin-right: 10px;
}
.btn-categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgb(0, 150, 255);
    color: white;
    padding: 0 18px;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    flex-shrink: 0;
    height: 40px;
    margin-right: -2px;
}

.icono-categoria i {
    font-size: 1.2rem;
}

.formulario-busqueda {
    display: flex;
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 50px;
    max-width: 700px;
}

.entrada-busqueda {
    flex-grow: 1;
    border: none;
    padding: 0 15px;
    font-size: 1rem;
    outline: none;
}

.btn-busqueda {
    background: none;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #555;
}


nav {
    display: flex;
    align-items: center;
    gap: 10px;

    flex-shrink: 0;
    margin-left: auto;

}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    padding: 0 5px;

}


.usuario-link,
.compras-link {
    line-height: 1.1;

}

.navegacion .icono {
    font-size: 1.5rem;
    margin-bottom: 2px;
    color: #666;

}


.usuario-link .icono,
.compras-link .icono {
    margin-bottom: 0px;

}


.carrito-link {
    margin-left: 10px;
    padding: 0 15px;
    height: 100%;
}

.carrito-link .icono-grande i {
    font-size: 1.8rem;
}
.barra-inferior {
    background-color: #f0f0f0;
    height: 10px;
    width: 100%;
}

.navegacion-secundaria {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;

    align-items: center;
    gap: 30px;
    padding: 10px 20px;
}

.navegacion-secundaria a {
    text-decoration: none;
    color: rgb(0, 150, 255);
    font-weight: bold;
    font-size: 0.95rem;
    transition: color 0.2s;
}
